name: Pull request
on: 
  pull_request: 
    branches: 
      - '**'

jobs:
  build_container:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create Image Name
        run: |
          echo "IMAGE_NAME=ghcr.io/${GITHUB_REPOSITORY@L}-pr" >> $GITHUB_ENV
      - name: Build containers
        run: docker compose build